.ovfeumlk {
	display: grid;
	gap: 2rem;
}

.ehrmfebw {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tlmuegwa {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	> .lkqjkawf {
		flex: 1;
	}
}

.kwwkncyf {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	> .bayqskth {
		flex: 1;
	}
}
